* {
    font-family: "Edu QLD Hand", cursive;
    text-align: center;
}
  
h1 {
    color:  #06923E;
    font-size: 50px;    
}

h2 { 
    color:  #06923E;
    font-size: 40px;
}

.portfolio {
    margin: 20px;
    padding: 30px;
    background-color: #D3ECCD;
    border-radius: 20px;
    height: 250px;
    display: flex;
    font-size: 20px;
}

.portfolio p {
    margin-left: 20px;
    font-weight: bold;
    color: #E67514;
}

img {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

.portfolio img {
    border-radius: 50%;
    padding: 10px;
    float: left;
}

.portfolio img:hover {
    transform: scale(1.2);
}

.work {
    margin: 20px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #D3ECCD;
    border-radius: 20px;
    font-weight: bold;
    color: #E67514;
    font-size: 20px;
    display: flexbox;
}

.work a {
    color: #E67514;
}



