* {
    font-family: "Edu QLD Hand", cursive;
    text-align: center;
   }
  
h1 {
    color:  #06923E;
    font-size: 50px;    
}

@media screen and (max-width: 400px) {
h1 {
    font-size: 40px;
  }
}

h2 { 
    color:  #06923E;
    font-size: 35px;
}

.portfolio {
    margin: 20px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 50px;
    background-color: #D3ECCD;
    border-radius: 20px;
    height: 300px;
    display: flexbox;
    font-size: 20px;
}


@media screen and (max-width: 400px) {
.portfolio {
    margin: 10px;
  }
}

.portfolio p {
    margin-left: 20px;
    font-weight: bold;
    color: #E67514;
}

img {
    height: 200px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

.portfolio img {
    border-radius: 50%;
    padding: 20px;
}

.portfolio img:hover {
    transform: scale(1.2);
}

.work {
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #D3ECCD;
    border-radius: 20px;
    font-weight: bold;
    color: #E67514;
    font-size: 20px;
    display: flexbox;
}

@media screen and (max-width: 400px) {
.work {
    margin: 10px;
  }
}

.work a {
    color: #E67514;
}

.work img {
    height: 200px;
    width: 300px;
}



